<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Docmed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/magnific-popup.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/themify-icons.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/nice-select.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/flaticon.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/gijgo.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/animate.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/slicknav.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/style.css">

    <!--<script src="../assets/jquery/jquery.min.js"></script>-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <!-- NEED TO CHANGE THE A TAG LINK -->
                                <a href="http://localhost:3002/">
                                    <img src="../assets/images/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <br>
    <div class="container">
        <h3 class="text-center">Login</h3>

        <div class="row">
            <div class="col-sm form-group form-check form-check-inline">
                <form id="edit" action="/submit_login" method="POST">
                    <label>User:</label>
                    <input type="text" class="form-control" id="user" name = 'user' required>

                    <br>

                    <label>Password:</label>
                    <input type="password" class="form-control" id="password" name = 'password' required>

                    <br>

                    <input type="submit" class="col-12 boxed-btn3 btn btn-primary"
                        value="Login">
                </form>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="close btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- JS here -->
            <!--<script src="../assets/bootstrap/js/vendor/modernizr-3.5.0.min.js"></script>
            <script src="../assets/bootstrap/js/vendor/jquery-1.12.4.min.js"></script>
            <script src="../assets/bootstrap/js/popper.min.js"></script>
            <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="../assets/bootstrap/js/owl.carousel.min.js"></script>
            <script src="../assets/bootstrap/js/isotope.pkgd.min.js"></script>
            <script src="../assets/bootstrap/js/ajax-form.js"></script>
            <script src="../assets/bootstrap/js/waypoints.min.js"></script>
            <script src="../assets/bootstrap/js/jquery.counterup.min.js"></script>
            <script src="../assets/bootstrap/js/imagesloaded.pkgd.min.js"></script>
            <script src="../assets/bootstrap/js/scrollIt.js"></script>
            <script src="../assets/bootstrap/js/jquery.scrollUp.min.js"></script>
            <script src="../assets/bootstrap/js/wow.min.js"></script>
            <script src="../assets/bootstrap/js/nice-select.min.js"></script>
            <script src="../assets/bootstrap/js/jquery.slicknav.min.js"></script>
            <script src="../assets/bootstrap/js/jquery.magnific-popup.min.js"></script>
            <script src="../assets/bootstrap/js/plugins.js"></script>
            <script src="../assets/bootstrap/js/gijgo.min.js"></script>-->

</body>

</html>
